.container {
    position: relative !important;
    display: inline-block !important;
    width: 500px  !important;
    padding: 0 !important;
}


.bounding-box {
    position: absolute;
    box-shadow: inset 0 0 0 3px #149df2;
   
}